body{
    margin: 0px;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

header{
    padding: 17px 0 10px 0;
    /* margin: 0 auto; */
    width: 100%;
    z-index: 1;
    position: fixed;
    /* top: 0;
    left: 0;
    right: 0; */
    background-color: white;
    text-align: center;
    box-shadow: 0px 1px #F1EFFD;
}

header a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #261D4B;
    padding: 34px 15px;
}

header .container{
    display: inline-block;
}

header a:hover{
    background-color: #4DAEB2;
    color: #FFFFFF;
}

.homebutton a{
    background-color: #4DAEB2;
    color: #FFFFFF;
}

.loginmenu{
    color: #4DAEB2;
}

.loginmenu:hover{
    color: #FFFFFF;
}

.logo{
    float: left;
}

nav{
    float: right;
}

nav ul{
    list-style-type: none;
    display: inline-block;
}

nav ul li{
    float: left;
}

li:hover{
    background-color: #4DAEB2;
}

h1{
    font-family: 'Rubik', sans-serif;
    font-size: 52px;
    font-weight: lighter;
    margin: 0;
}
/* --------------------------------  outer-middle starts --------------------------------------------------------- */
.outer-middle{
    padding-top: 86.3333px;
    text-align: center;
    box-shadow: 0px 4px 10px #DED9F9;
}

.outer-middle .container{
    position: relative;
    text-align: center;
    /* box-shadow: 0px 4px 10px #DED9F9; */
    display: inline-block;
    width: 1170px;
}

.outer-middle .container img{
    position: absolute;
    right: 0px;
    top: 23px;
}

.tv-side-heading
{
    float:left;
    text-align: right;
    margin-top:95px;
    margin-right: 88px;
    width: 650px;
    margin-bottom: 100px;
}

.tv-side-heading h2{
    color: #261D4B;
    font-size: 52px;
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
    margin: 0px;
    text-align: right;
}

.tv-side-heading p{
    text-align: right;
    font-family:'Montserrat', sans-serif;
    font-weight: lighter; 
    font-size: 20px;
    color: #726F7A;
}

.tv-side-heading a{
    color: #28282E;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    background-color: #82D7DB;
    transform:skew(-20deg);
    padding: 15px 21px;
    border-radius: 5px;
    float: right;
    text-transform: none; 
}

.tv-side-heading div{
    width: 100%;
}

/* --------------------------------  outer-middle ends  ---------------------------------------- */


/* -------------------------------- third starts ----------------------------------------------- */
.third{
    clear: both;
    text-align: center;
    padding-top: 106px;
    margin-bottom: 52px;
}

.third h2{
    color: #261D4B;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 30px;
}

.third-p{
    color: #726F7A;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 60px;
}

.images{
    display: inline-block;
    position: relative;
}

hr{
    position: absolute;
    width: 517px;
    z-index: -1;
    left: 177px;
    margin-top: 90px;
    color: #C7E3E3;
}

.images p{
    margin: 0px;
    font-size: 26px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

.back-image{
    background-image: url("../images/polygon.png");
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    width: 154px;
    height: 171px;
    float: left;
    margin: 0px 32px;
}

.back-image:hover{
    background-image: url("../images/hover.png");
    /* background-position: center; */
}

.images div:nth-child(1):active{
    background-image: url("../images/hover.png");
    width: 154px;
    height: 171px;
}

.third-last p{
    color: #615F67;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.third-last::before{
    content: "";
    height: 50px;
    width: 50px;
    margin-top: -57px;
    position: absolute;
    transform: rotate(45deg);
    border: 2px solid #DCDCDC;
    margin-left: 140px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    background-color: white;
}

.back-image img{
    padding-top: 33px;
    margin-bottom: 12px;
}

.third-last{
    display: inline-block;
    padding: 30px;
    border: 1px solid #DCDCDC;
    margin: 30px 58px;
}
.third-last div{
    margin-right: 49px;
}

.third-last ul{
    color: #615F67;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-left: 15px;
}

.third-last img{
    float: right;  
}

.third-last-left{
    display: inline-block;
    text-align: left;
    width: 445px;
}

/* ----------------------------- third ends ------------------------------------------- */

/* ------------------------------------ fourth starts ---------------------------------------------- */

.last img{
    text-align: right;
}

.image5, .image6, .image7{
    background-image: url("../images/bigpolygon.png");
    width: 229px;
    height: 258px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.fourth-images{
    display: inline-block;
}

.imagesinimage5{
    margin-top: 42px;
}

.imagesinimage5 img:nth-child(2){
    margin: 0 17px 0 14px;
}

.image6{
    margin: 0 135px;
}

.image6 .image6-1,.image6-2, .image6-3{
    float: left;
}

.fourth-images .image5 h5{
    color: #FFFFFF;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin: 40px 0px 42px 0px;
}

.imagesinimage6{
    display: inline-block;
    margin-bottom: 14px;
}

.fourth-images .image6 h5{
    color: #FFFFFF;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin: 40px 0px 26px 0px;
}

.image6-2{
    border-right: 1px solid #7ECED2;
    border-left: 1px solid #7ECED2;
    padding: 0 5px 0 5px;
    margin: 0px 6px;
}

.image6 p{
    color: #8ADCDB;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin: 0 0 5px 0;
}

.fourth-images .image7 h5{
    color: #FFFFFF;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin: 42px 0px 25px 0px;
}

.imagesinimage7 img:nth-child(1){
    margin-right: 24px;
    margin-bottom: 10px;
}

.imagesinimage7{
    margin-bottom: 10px;
}

.imagesinimage5{
    margin-bottom: 20px;
}

.fourth-images h6{
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin: 0px 0px 0px 0px;
}

.fourth{
    text-align: center;
    background-color: #F7F7FB;
    padding-bottom: 65px;
}

.fourth::after{
    content: "";
    height: 50px;
    width: 50px;
    position: absolute;
    transform: rotate(45deg);
    border: 1px solid #DCDCDC;
    margin-left: -25px;
    border-left: transparent;
    border-top: transparent;
    background-color: #F7F7FB;
    margin-top: 10px;
}

.fourth h2{
    color: #261B4A;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    margin: 0 0 59px 0;
}

/* ------------------------------------ fourth ends ---------------------------------------------- */

/* ------------------------- last starts ----------------------------------------------- */
.last{
    /* width: 640px; */
    text-align: center;
    clear: both;
    margin: 15px 0px 31px 0px;
}

.last h2{
    text-align: center;
    margin: 0 0 19px 0;
    color: #261B4A;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}
/* -------------------------- last ends --------------------------------------------------- */
footer{
    background-color: #2A2735;
    font-family: 'Montserrat', sans-serif;
    color: #A5A5A5;
    font-size: 13px;
    text-align: left;
    width: 100%;
}

.right-footer{
    float: right;
    margin-top: 20px;
}

footer p{
    display: inline-block;
    margin: 30px 0px;
}

.right-footer div{
    display: inline-block;
    text-align: center;
    background-image: url("../images/footer-background.svg");
    width: 33px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5px;
}

.right-footer a{
    color: white;
    padding: 10px 6px;
}

.right-footer i{
    padding-top: 10px;
}